%h3 Assignments
- @assignments.each do |assign| 
  .assignment
    %ul
      %li Title: #{assign.title}
      %li Due Time: #{assign.due_time}
    = link_to "Show", assign

= link_to "Create New" , new_assignment_path