%h2 Oier in PSCD
/ TODO Modify the title of each page to the side bar 
%table
  %th
  - Ojee::OJ_TYPES.each do |ojtype|
    %td= ojtype
  - @oiers.each do |oier| 
    %tr{:class => cycle('odd_row','even_row')}
      %td= oier.name
      - Ojee::OJ_TYPES.each do |ojtype|
        %td= ojee_for(oier,ojtype).solved_count != 0 ? ojee_for(oier,ojtype).solved_count : 'N/A'
      %td= link_to "Show all OJ stats",oier_ojees_path(oier) 
      