-#- content_for :javascript do
-#  = javascript_include_tag "assign_edit.js"
- simple_form_for [@assignment,@item] do |f|
  = f.input :title
  = f.input :ojtype, :label => "OJ type"
  = f.input :prob_num, :label => 'Problem Number'
  = f.button :submit
    