@charset "utf-8";
/* line 4, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* ----- SimpleForm Styles ----- */
/* line 3, ../../app/stylesheets/partials/_simple_form.scss */
.simple_form div.input {
  margin-bottom: 10px;
}

/* line 7, ../../app/stylesheets/partials/_simple_form.scss */
.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

/* line 14, ../../app/stylesheets/partials/_simple_form.scss */
div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

/* line 18, ../../app/stylesheets/partials/_simple_form.scss */
div.boolean label, label.collection_radio {
  float: none;
  margin: 0;
}

/* line 23, ../../app/stylesheets/partials/_simple_form.scss */
label.collection_radio {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

/* line 29, ../../app/stylesheets/partials/_simple_form.scss */
.field_with_errors {
  background-color: #ff3333;
}

/* line 33, ../../app/stylesheets/partials/_simple_form.scss */
.simple_form .error, .simple_form body.bp .alert, body.bp .simple_form .alert {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
  font-size: 12px;
}

/* line 41, ../../app/stylesheets/partials/_simple_form.scss */
.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

/* line 50, ../../app/stylesheets/partials/_simple_form.scss */
input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

/* line 55, ../../app/stylesheets/partials/_simple_form.scss */
input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

/* line 60, ../../app/stylesheets/partials/_simple_form.scss */
label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}

/* line 27, ../../app/stylesheets/screen.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 87.5%;
}
/* line 51, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 53, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:visited {
  color: #004c99;
}
/* line 21, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:focus {
  color: #0099ff;
}
/* line 24, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:hover {
  color: #0099ff;
}
/* line 27, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:active {
  color: #bf00ff;
}
/* line 63, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong, body.bp dfn {
  font-weight: bold;
}
/* line 65, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em, body.bp dfn {
  font-style: italic;
}
/* line 66, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 67, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 70, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 72, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 73, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 75, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 76, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 78, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 79, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 81, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 82, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table.striped tr:nth-child(even) td,
body.bp table tr.even td {
  background: #e5ecf9;
}
/* line 86, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 87, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 88, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 89, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 25, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 710 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(2.758%, rgba(100, 100, 225, 0.25)), color-stop(2.758%, rgba(0, 0, 0, 0)), color-stop(4.167%, rgba(0, 0, 0, 0)), color-stop(4.167%, rgba(100, 100, 225, 0.25)), color-stop(6.925%, rgba(100, 100, 225, 0.25)), color-stop(6.925%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(100, 100, 225, 0.25)), color-stop(11.092%, rgba(100, 100, 225, 0.25)), color-stop(11.092%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(100, 100, 225, 0.25)), color-stop(15.258%, rgba(100, 100, 225, 0.25)), color-stop(15.258%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(100, 100, 225, 0.25)), color-stop(19.425%, rgba(100, 100, 225, 0.25)), color-stop(19.425%, rgba(0, 0, 0, 0)), color-stop(20.833%, rgba(0, 0, 0, 0)), color-stop(20.833%, rgba(100, 100, 225, 0.25)), color-stop(23.592%, rgba(100, 100, 225, 0.25)), color-stop(23.592%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(27.758%, rgba(100, 100, 225, 0.25)), color-stop(27.758%, rgba(0, 0, 0, 0)), color-stop(29.167%, rgba(0, 0, 0, 0)), color-stop(29.167%, rgba(100, 100, 225, 0.25)), color-stop(31.925%, rgba(100, 100, 225, 0.25)), color-stop(31.925%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(100, 100, 225, 0.25)), color-stop(36.092%, rgba(100, 100, 225, 0.25)), color-stop(36.092%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(100, 100, 225, 0.25)), color-stop(40.258%, rgba(100, 100, 225, 0.25)), color-stop(40.258%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(100, 100, 225, 0.25)), color-stop(44.425%, rgba(100, 100, 225, 0.25)), color-stop(44.425%, rgba(0, 0, 0, 0)), color-stop(45.833%, rgba(0, 0, 0, 0)), color-stop(45.833%, rgba(100, 100, 225, 0.25)), color-stop(48.592%, rgba(100, 100, 225, 0.25)), color-stop(48.592%, rgba(0, 0, 0, 0)), color-stop(50.0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(52.758%, rgba(100, 100, 225, 0.25)), color-stop(52.758%, rgba(0, 0, 0, 0)), color-stop(54.167%, rgba(0, 0, 0, 0)), color-stop(54.167%, rgba(100, 100, 225, 0.25)), color-stop(56.925%, rgba(100, 100, 225, 0.25)), color-stop(56.925%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(100, 100, 225, 0.25)), color-stop(61.092%, rgba(100, 100, 225, 0.25)), color-stop(61.092%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(100, 100, 225, 0.25)), color-stop(65.258%, rgba(100, 100, 225, 0.25)), color-stop(65.258%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(100, 100, 225, 0.25)), color-stop(69.425%, rgba(100, 100, 225, 0.25)), color-stop(69.425%, rgba(0, 0, 0, 0)), color-stop(70.833%, rgba(0, 0, 0, 0)), color-stop(70.833%, rgba(100, 100, 225, 0.25)), color-stop(73.592%, rgba(100, 100, 225, 0.25)), color-stop(73.592%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(100, 100, 225, 0.25)), color-stop(77.758%, rgba(100, 100, 225, 0.25)), color-stop(77.758%, rgba(0, 0, 0, 0)), color-stop(79.167%, rgba(0, 0, 0, 0)), color-stop(79.167%, rgba(100, 100, 225, 0.25)), color-stop(81.925%, rgba(100, 100, 225, 0.25)), color-stop(81.925%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(100, 100, 225, 0.25)), color-stop(86.092%, rgba(100, 100, 225, 0.25)), color-stop(86.092%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(100, 100, 225, 0.25)), color-stop(90.258%, rgba(100, 100, 225, 0.25)), color-stop(90.258%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(100, 100, 225, 0.25)), color-stop(94.425%, rgba(100, 100, 225, 0.25)), color-stop(94.425%, rgba(0, 0, 0, 0)), color-stop(95.833%, rgba(0, 0, 0, 0)), color-stop(95.833%, rgba(100, 100, 225, 0.25)), color-stop(98.592%, rgba(100, 100, 225, 0.25)), color-stop(98.592%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 19.583px, rgba(0, 0, 0, 0) 19.583px, rgba(0, 0, 0, 0) 29.583px, rgba(100, 100, 225, 0.25) 29.583px, rgba(100, 100, 225, 0.25) 49.167px, rgba(0, 0, 0, 0) 49.167px, rgba(0, 0, 0, 0) 59.167px, rgba(100, 100, 225, 0.25) 59.167px, rgba(100, 100, 225, 0.25) 78.75px, rgba(0, 0, 0, 0) 78.75px, rgba(0, 0, 0, 0) 88.75px, rgba(100, 100, 225, 0.25) 88.75px, rgba(100, 100, 225, 0.25) 108.333px, rgba(0, 0, 0, 0) 108.333px, rgba(0, 0, 0, 0) 118.333px, rgba(100, 100, 225, 0.25) 118.333px, rgba(100, 100, 225, 0.25) 137.917px, rgba(0, 0, 0, 0) 137.917px, rgba(0, 0, 0, 0) 147.917px, rgba(100, 100, 225, 0.25) 147.917px, rgba(100, 100, 225, 0.25) 167.5px, rgba(0, 0, 0, 0) 167.5px, rgba(0, 0, 0, 0) 177.5px, rgba(100, 100, 225, 0.25) 177.5px, rgba(100, 100, 225, 0.25) 197.083px, rgba(0, 0, 0, 0) 197.083px, rgba(0, 0, 0, 0) 207.083px, rgba(100, 100, 225, 0.25) 207.083px, rgba(100, 100, 225, 0.25) 226.667px, rgba(0, 0, 0, 0) 226.667px, rgba(0, 0, 0, 0) 236.667px, rgba(100, 100, 225, 0.25) 236.667px, rgba(100, 100, 225, 0.25) 256.25px, rgba(0, 0, 0, 0) 256.25px, rgba(0, 0, 0, 0) 266.25px, rgba(100, 100, 225, 0.25) 266.25px, rgba(100, 100, 225, 0.25) 285.833px, rgba(0, 0, 0, 0) 285.833px, rgba(0, 0, 0, 0) 295.833px, rgba(100, 100, 225, 0.25) 295.833px, rgba(100, 100, 225, 0.25) 315.417px, rgba(0, 0, 0, 0) 315.417px, rgba(0, 0, 0, 0) 325.417px, rgba(100, 100, 225, 0.25) 325.417px, rgba(100, 100, 225, 0.25) 345.0px, rgba(0, 0, 0, 0) 345.0px, rgba(0, 0, 0, 0) 355.0px, rgba(100, 100, 225, 0.25) 355px, rgba(100, 100, 225, 0.25) 374.583px, rgba(0, 0, 0, 0) 374.583px, rgba(0, 0, 0, 0) 384.583px, rgba(100, 100, 225, 0.25) 384.583px, rgba(100, 100, 225, 0.25) 404.167px, rgba(0, 0, 0, 0) 404.167px, rgba(0, 0, 0, 0) 414.167px, rgba(100, 100, 225, 0.25) 414.167px, rgba(100, 100, 225, 0.25) 433.75px, rgba(0, 0, 0, 0) 433.75px, rgba(0, 0, 0, 0) 443.75px, rgba(100, 100, 225, 0.25) 443.75px, rgba(100, 100, 225, 0.25) 463.333px, rgba(0, 0, 0, 0) 463.333px, rgba(0, 0, 0, 0) 473.333px, rgba(100, 100, 225, 0.25) 473.333px, rgba(100, 100, 225, 0.25) 492.917px, rgba(0, 0, 0, 0) 492.917px, rgba(0, 0, 0, 0) 502.917px, rgba(100, 100, 225, 0.25) 502.917px, rgba(100, 100, 225, 0.25) 522.5px, rgba(0, 0, 0, 0) 522.5px, rgba(0, 0, 0, 0) 532.5px, rgba(100, 100, 225, 0.25) 532.5px, rgba(100, 100, 225, 0.25) 552.083px, rgba(0, 0, 0, 0) 552.083px, rgba(0, 0, 0, 0) 562.083px, rgba(100, 100, 225, 0.25) 562.083px, rgba(100, 100, 225, 0.25) 581.667px, rgba(0, 0, 0, 0) 581.667px, rgba(0, 0, 0, 0) 591.667px, rgba(100, 100, 225, 0.25) 591.667px, rgba(100, 100, 225, 0.25) 611.25px, rgba(0, 0, 0, 0) 611.25px, rgba(0, 0, 0, 0) 621.25px, rgba(100, 100, 225, 0.25) 621.25px, rgba(100, 100, 225, 0.25) 640.833px, rgba(0, 0, 0, 0) 640.833px, rgba(0, 0, 0, 0) 650.833px, rgba(100, 100, 225, 0.25) 650.833px, rgba(100, 100, 225, 0.25) 670.417px, rgba(0, 0, 0, 0) 670.417px, rgba(0, 0, 0, 0) 680.417px, rgba(100, 100, 225, 0.25) 680.417px, rgba(100, 100, 225, 0.25) 700px, rgba(0, 0, 0, 0) 700px, rgba(0, 0, 0, 0) 710px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 19.583px, rgba(0, 0, 0, 0) 19.583px, rgba(0, 0, 0, 0) 29.583px, rgba(100, 100, 225, 0.25) 29.583px, rgba(100, 100, 225, 0.25) 49.167px, rgba(0, 0, 0, 0) 49.167px, rgba(0, 0, 0, 0) 59.167px, rgba(100, 100, 225, 0.25) 59.167px, rgba(100, 100, 225, 0.25) 78.75px, rgba(0, 0, 0, 0) 78.75px, rgba(0, 0, 0, 0) 88.75px, rgba(100, 100, 225, 0.25) 88.75px, rgba(100, 100, 225, 0.25) 108.333px, rgba(0, 0, 0, 0) 108.333px, rgba(0, 0, 0, 0) 118.333px, rgba(100, 100, 225, 0.25) 118.333px, rgba(100, 100, 225, 0.25) 137.917px, rgba(0, 0, 0, 0) 137.917px, rgba(0, 0, 0, 0) 147.917px, rgba(100, 100, 225, 0.25) 147.917px, rgba(100, 100, 225, 0.25) 167.5px, rgba(0, 0, 0, 0) 167.5px, rgba(0, 0, 0, 0) 177.5px, rgba(100, 100, 225, 0.25) 177.5px, rgba(100, 100, 225, 0.25) 197.083px, rgba(0, 0, 0, 0) 197.083px, rgba(0, 0, 0, 0) 207.083px, rgba(100, 100, 225, 0.25) 207.083px, rgba(100, 100, 225, 0.25) 226.667px, rgba(0, 0, 0, 0) 226.667px, rgba(0, 0, 0, 0) 236.667px, rgba(100, 100, 225, 0.25) 236.667px, rgba(100, 100, 225, 0.25) 256.25px, rgba(0, 0, 0, 0) 256.25px, rgba(0, 0, 0, 0) 266.25px, rgba(100, 100, 225, 0.25) 266.25px, rgba(100, 100, 225, 0.25) 285.833px, rgba(0, 0, 0, 0) 285.833px, rgba(0, 0, 0, 0) 295.833px, rgba(100, 100, 225, 0.25) 295.833px, rgba(100, 100, 225, 0.25) 315.417px, rgba(0, 0, 0, 0) 315.417px, rgba(0, 0, 0, 0) 325.417px, rgba(100, 100, 225, 0.25) 325.417px, rgba(100, 100, 225, 0.25) 345.0px, rgba(0, 0, 0, 0) 345.0px, rgba(0, 0, 0, 0) 355.0px, rgba(100, 100, 225, 0.25) 355px, rgba(100, 100, 225, 0.25) 374.583px, rgba(0, 0, 0, 0) 374.583px, rgba(0, 0, 0, 0) 384.583px, rgba(100, 100, 225, 0.25) 384.583px, rgba(100, 100, 225, 0.25) 404.167px, rgba(0, 0, 0, 0) 404.167px, rgba(0, 0, 0, 0) 414.167px, rgba(100, 100, 225, 0.25) 414.167px, rgba(100, 100, 225, 0.25) 433.75px, rgba(0, 0, 0, 0) 433.75px, rgba(0, 0, 0, 0) 443.75px, rgba(100, 100, 225, 0.25) 443.75px, rgba(100, 100, 225, 0.25) 463.333px, rgba(0, 0, 0, 0) 463.333px, rgba(0, 0, 0, 0) 473.333px, rgba(100, 100, 225, 0.25) 473.333px, rgba(100, 100, 225, 0.25) 492.917px, rgba(0, 0, 0, 0) 492.917px, rgba(0, 0, 0, 0) 502.917px, rgba(100, 100, 225, 0.25) 502.917px, rgba(100, 100, 225, 0.25) 522.5px, rgba(0, 0, 0, 0) 522.5px, rgba(0, 0, 0, 0) 532.5px, rgba(100, 100, 225, 0.25) 532.5px, rgba(100, 100, 225, 0.25) 552.083px, rgba(0, 0, 0, 0) 552.083px, rgba(0, 0, 0, 0) 562.083px, rgba(100, 100, 225, 0.25) 562.083px, rgba(100, 100, 225, 0.25) 581.667px, rgba(0, 0, 0, 0) 581.667px, rgba(0, 0, 0, 0) 591.667px, rgba(100, 100, 225, 0.25) 591.667px, rgba(100, 100, 225, 0.25) 611.25px, rgba(0, 0, 0, 0) 611.25px, rgba(0, 0, 0, 0) 621.25px, rgba(100, 100, 225, 0.25) 621.25px, rgba(100, 100, 225, 0.25) 640.833px, rgba(0, 0, 0, 0) 640.833px, rgba(0, 0, 0, 0) 650.833px, rgba(100, 100, 225, 0.25) 650.833px, rgba(100, 100, 225, 0.25) 670.417px, rgba(0, 0, 0, 0) 670.417px, rgba(0, 0, 0, 0) 680.417px, rgba(100, 100, 225, 0.25) 680.417px, rgba(100, 100, 225, 0.25) 700px, rgba(0, 0, 0, 0) 700px, rgba(0, 0, 0, 0) 710px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 19.583px, rgba(0, 0, 0, 0) 19.583px, rgba(0, 0, 0, 0) 29.583px, rgba(100, 100, 225, 0.25) 29.583px, rgba(100, 100, 225, 0.25) 49.167px, rgba(0, 0, 0, 0) 49.167px, rgba(0, 0, 0, 0) 59.167px, rgba(100, 100, 225, 0.25) 59.167px, rgba(100, 100, 225, 0.25) 78.75px, rgba(0, 0, 0, 0) 78.75px, rgba(0, 0, 0, 0) 88.75px, rgba(100, 100, 225, 0.25) 88.75px, rgba(100, 100, 225, 0.25) 108.333px, rgba(0, 0, 0, 0) 108.333px, rgba(0, 0, 0, 0) 118.333px, rgba(100, 100, 225, 0.25) 118.333px, rgba(100, 100, 225, 0.25) 137.917px, rgba(0, 0, 0, 0) 137.917px, rgba(0, 0, 0, 0) 147.917px, rgba(100, 100, 225, 0.25) 147.917px, rgba(100, 100, 225, 0.25) 167.5px, rgba(0, 0, 0, 0) 167.5px, rgba(0, 0, 0, 0) 177.5px, rgba(100, 100, 225, 0.25) 177.5px, rgba(100, 100, 225, 0.25) 197.083px, rgba(0, 0, 0, 0) 197.083px, rgba(0, 0, 0, 0) 207.083px, rgba(100, 100, 225, 0.25) 207.083px, rgba(100, 100, 225, 0.25) 226.667px, rgba(0, 0, 0, 0) 226.667px, rgba(0, 0, 0, 0) 236.667px, rgba(100, 100, 225, 0.25) 236.667px, rgba(100, 100, 225, 0.25) 256.25px, rgba(0, 0, 0, 0) 256.25px, rgba(0, 0, 0, 0) 266.25px, rgba(100, 100, 225, 0.25) 266.25px, rgba(100, 100, 225, 0.25) 285.833px, rgba(0, 0, 0, 0) 285.833px, rgba(0, 0, 0, 0) 295.833px, rgba(100, 100, 225, 0.25) 295.833px, rgba(100, 100, 225, 0.25) 315.417px, rgba(0, 0, 0, 0) 315.417px, rgba(0, 0, 0, 0) 325.417px, rgba(100, 100, 225, 0.25) 325.417px, rgba(100, 100, 225, 0.25) 345.0px, rgba(0, 0, 0, 0) 345.0px, rgba(0, 0, 0, 0) 355.0px, rgba(100, 100, 225, 0.25) 355px, rgba(100, 100, 225, 0.25) 374.583px, rgba(0, 0, 0, 0) 374.583px, rgba(0, 0, 0, 0) 384.583px, rgba(100, 100, 225, 0.25) 384.583px, rgba(100, 100, 225, 0.25) 404.167px, rgba(0, 0, 0, 0) 404.167px, rgba(0, 0, 0, 0) 414.167px, rgba(100, 100, 225, 0.25) 414.167px, rgba(100, 100, 225, 0.25) 433.75px, rgba(0, 0, 0, 0) 433.75px, rgba(0, 0, 0, 0) 443.75px, rgba(100, 100, 225, 0.25) 443.75px, rgba(100, 100, 225, 0.25) 463.333px, rgba(0, 0, 0, 0) 463.333px, rgba(0, 0, 0, 0) 473.333px, rgba(100, 100, 225, 0.25) 473.333px, rgba(100, 100, 225, 0.25) 492.917px, rgba(0, 0, 0, 0) 492.917px, rgba(0, 0, 0, 0) 502.917px, rgba(100, 100, 225, 0.25) 502.917px, rgba(100, 100, 225, 0.25) 522.5px, rgba(0, 0, 0, 0) 522.5px, rgba(0, 0, 0, 0) 532.5px, rgba(100, 100, 225, 0.25) 532.5px, rgba(100, 100, 225, 0.25) 552.083px, rgba(0, 0, 0, 0) 552.083px, rgba(0, 0, 0, 0) 562.083px, rgba(100, 100, 225, 0.25) 562.083px, rgba(100, 100, 225, 0.25) 581.667px, rgba(0, 0, 0, 0) 581.667px, rgba(0, 0, 0, 0) 591.667px, rgba(100, 100, 225, 0.25) 591.667px, rgba(100, 100, 225, 0.25) 611.25px, rgba(0, 0, 0, 0) 611.25px, rgba(0, 0, 0, 0) 621.25px, rgba(100, 100, 225, 0.25) 621.25px, rgba(100, 100, 225, 0.25) 640.833px, rgba(0, 0, 0, 0) 640.833px, rgba(0, 0, 0, 0) 650.833px, rgba(100, 100, 225, 0.25) 650.833px, rgba(100, 100, 225, 0.25) 670.417px, rgba(0, 0, 0, 0) 670.417px, rgba(0, 0, 0, 0) 680.417px, rgba(100, 100, 225, 0.25) 680.417px, rgba(100, 100, 225, 0.25) 700px, rgba(0, 0, 0, 0) 700px, rgba(0, 0, 0, 0) 710px);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 19.583px, rgba(0, 0, 0, 0) 19.583px, rgba(0, 0, 0, 0) 29.583px, rgba(100, 100, 225, 0.25) 29.583px, rgba(100, 100, 225, 0.25) 49.167px, rgba(0, 0, 0, 0) 49.167px, rgba(0, 0, 0, 0) 59.167px, rgba(100, 100, 225, 0.25) 59.167px, rgba(100, 100, 225, 0.25) 78.75px, rgba(0, 0, 0, 0) 78.75px, rgba(0, 0, 0, 0) 88.75px, rgba(100, 100, 225, 0.25) 88.75px, rgba(100, 100, 225, 0.25) 108.333px, rgba(0, 0, 0, 0) 108.333px, rgba(0, 0, 0, 0) 118.333px, rgba(100, 100, 225, 0.25) 118.333px, rgba(100, 100, 225, 0.25) 137.917px, rgba(0, 0, 0, 0) 137.917px, rgba(0, 0, 0, 0) 147.917px, rgba(100, 100, 225, 0.25) 147.917px, rgba(100, 100, 225, 0.25) 167.5px, rgba(0, 0, 0, 0) 167.5px, rgba(0, 0, 0, 0) 177.5px, rgba(100, 100, 225, 0.25) 177.5px, rgba(100, 100, 225, 0.25) 197.083px, rgba(0, 0, 0, 0) 197.083px, rgba(0, 0, 0, 0) 207.083px, rgba(100, 100, 225, 0.25) 207.083px, rgba(100, 100, 225, 0.25) 226.667px, rgba(0, 0, 0, 0) 226.667px, rgba(0, 0, 0, 0) 236.667px, rgba(100, 100, 225, 0.25) 236.667px, rgba(100, 100, 225, 0.25) 256.25px, rgba(0, 0, 0, 0) 256.25px, rgba(0, 0, 0, 0) 266.25px, rgba(100, 100, 225, 0.25) 266.25px, rgba(100, 100, 225, 0.25) 285.833px, rgba(0, 0, 0, 0) 285.833px, rgba(0, 0, 0, 0) 295.833px, rgba(100, 100, 225, 0.25) 295.833px, rgba(100, 100, 225, 0.25) 315.417px, rgba(0, 0, 0, 0) 315.417px, rgba(0, 0, 0, 0) 325.417px, rgba(100, 100, 225, 0.25) 325.417px, rgba(100, 100, 225, 0.25) 345.0px, rgba(0, 0, 0, 0) 345.0px, rgba(0, 0, 0, 0) 355.0px, rgba(100, 100, 225, 0.25) 355px, rgba(100, 100, 225, 0.25) 374.583px, rgba(0, 0, 0, 0) 374.583px, rgba(0, 0, 0, 0) 384.583px, rgba(100, 100, 225, 0.25) 384.583px, rgba(100, 100, 225, 0.25) 404.167px, rgba(0, 0, 0, 0) 404.167px, rgba(0, 0, 0, 0) 414.167px, rgba(100, 100, 225, 0.25) 414.167px, rgba(100, 100, 225, 0.25) 433.75px, rgba(0, 0, 0, 0) 433.75px, rgba(0, 0, 0, 0) 443.75px, rgba(100, 100, 225, 0.25) 443.75px, rgba(100, 100, 225, 0.25) 463.333px, rgba(0, 0, 0, 0) 463.333px, rgba(0, 0, 0, 0) 473.333px, rgba(100, 100, 225, 0.25) 473.333px, rgba(100, 100, 225, 0.25) 492.917px, rgba(0, 0, 0, 0) 492.917px, rgba(0, 0, 0, 0) 502.917px, rgba(100, 100, 225, 0.25) 502.917px, rgba(100, 100, 225, 0.25) 522.5px, rgba(0, 0, 0, 0) 522.5px, rgba(0, 0, 0, 0) 532.5px, rgba(100, 100, 225, 0.25) 532.5px, rgba(100, 100, 225, 0.25) 552.083px, rgba(0, 0, 0, 0) 552.083px, rgba(0, 0, 0, 0) 562.083px, rgba(100, 100, 225, 0.25) 562.083px, rgba(100, 100, 225, 0.25) 581.667px, rgba(0, 0, 0, 0) 581.667px, rgba(0, 0, 0, 0) 591.667px, rgba(100, 100, 225, 0.25) 591.667px, rgba(100, 100, 225, 0.25) 611.25px, rgba(0, 0, 0, 0) 611.25px, rgba(0, 0, 0, 0) 621.25px, rgba(100, 100, 225, 0.25) 621.25px, rgba(100, 100, 225, 0.25) 640.833px, rgba(0, 0, 0, 0) 640.833px, rgba(0, 0, 0, 0) 650.833px, rgba(100, 100, 225, 0.25) 650.833px, rgba(100, 100, 225, 0.25) 670.417px, rgba(0, 0, 0, 0) 670.417px, rgba(0, 0, 0, 0) 680.417px, rgba(100, 100, 225, 0.25) 680.417px, rgba(100, 100, 225, 0.25) 700px, rgba(0, 0, 0, 0) 700px, rgba(0, 0, 0, 0) 710px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 19.583px, rgba(0, 0, 0, 0) 19.583px, rgba(0, 0, 0, 0) 29.583px, rgba(100, 100, 225, 0.25) 29.583px, rgba(100, 100, 225, 0.25) 49.167px, rgba(0, 0, 0, 0) 49.167px, rgba(0, 0, 0, 0) 59.167px, rgba(100, 100, 225, 0.25) 59.167px, rgba(100, 100, 225, 0.25) 78.75px, rgba(0, 0, 0, 0) 78.75px, rgba(0, 0, 0, 0) 88.75px, rgba(100, 100, 225, 0.25) 88.75px, rgba(100, 100, 225, 0.25) 108.333px, rgba(0, 0, 0, 0) 108.333px, rgba(0, 0, 0, 0) 118.333px, rgba(100, 100, 225, 0.25) 118.333px, rgba(100, 100, 225, 0.25) 137.917px, rgba(0, 0, 0, 0) 137.917px, rgba(0, 0, 0, 0) 147.917px, rgba(100, 100, 225, 0.25) 147.917px, rgba(100, 100, 225, 0.25) 167.5px, rgba(0, 0, 0, 0) 167.5px, rgba(0, 0, 0, 0) 177.5px, rgba(100, 100, 225, 0.25) 177.5px, rgba(100, 100, 225, 0.25) 197.083px, rgba(0, 0, 0, 0) 197.083px, rgba(0, 0, 0, 0) 207.083px, rgba(100, 100, 225, 0.25) 207.083px, rgba(100, 100, 225, 0.25) 226.667px, rgba(0, 0, 0, 0) 226.667px, rgba(0, 0, 0, 0) 236.667px, rgba(100, 100, 225, 0.25) 236.667px, rgba(100, 100, 225, 0.25) 256.25px, rgba(0, 0, 0, 0) 256.25px, rgba(0, 0, 0, 0) 266.25px, rgba(100, 100, 225, 0.25) 266.25px, rgba(100, 100, 225, 0.25) 285.833px, rgba(0, 0, 0, 0) 285.833px, rgba(0, 0, 0, 0) 295.833px, rgba(100, 100, 225, 0.25) 295.833px, rgba(100, 100, 225, 0.25) 315.417px, rgba(0, 0, 0, 0) 315.417px, rgba(0, 0, 0, 0) 325.417px, rgba(100, 100, 225, 0.25) 325.417px, rgba(100, 100, 225, 0.25) 345.0px, rgba(0, 0, 0, 0) 345.0px, rgba(0, 0, 0, 0) 355.0px, rgba(100, 100, 225, 0.25) 355px, rgba(100, 100, 225, 0.25) 374.583px, rgba(0, 0, 0, 0) 374.583px, rgba(0, 0, 0, 0) 384.583px, rgba(100, 100, 225, 0.25) 384.583px, rgba(100, 100, 225, 0.25) 404.167px, rgba(0, 0, 0, 0) 404.167px, rgba(0, 0, 0, 0) 414.167px, rgba(100, 100, 225, 0.25) 414.167px, rgba(100, 100, 225, 0.25) 433.75px, rgba(0, 0, 0, 0) 433.75px, rgba(0, 0, 0, 0) 443.75px, rgba(100, 100, 225, 0.25) 443.75px, rgba(100, 100, 225, 0.25) 463.333px, rgba(0, 0, 0, 0) 463.333px, rgba(0, 0, 0, 0) 473.333px, rgba(100, 100, 225, 0.25) 473.333px, rgba(100, 100, 225, 0.25) 492.917px, rgba(0, 0, 0, 0) 492.917px, rgba(0, 0, 0, 0) 502.917px, rgba(100, 100, 225, 0.25) 502.917px, rgba(100, 100, 225, 0.25) 522.5px, rgba(0, 0, 0, 0) 522.5px, rgba(0, 0, 0, 0) 532.5px, rgba(100, 100, 225, 0.25) 532.5px, rgba(100, 100, 225, 0.25) 552.083px, rgba(0, 0, 0, 0) 552.083px, rgba(0, 0, 0, 0) 562.083px, rgba(100, 100, 225, 0.25) 562.083px, rgba(100, 100, 225, 0.25) 581.667px, rgba(0, 0, 0, 0) 581.667px, rgba(0, 0, 0, 0) 591.667px, rgba(100, 100, 225, 0.25) 591.667px, rgba(100, 100, 225, 0.25) 611.25px, rgba(0, 0, 0, 0) 611.25px, rgba(0, 0, 0, 0) 621.25px, rgba(100, 100, 225, 0.25) 621.25px, rgba(100, 100, 225, 0.25) 640.833px, rgba(0, 0, 0, 0) 640.833px, rgba(0, 0, 0, 0) 650.833px, rgba(100, 100, 225, 0.25) 650.833px, rgba(100, 100, 225, 0.25) 670.417px, rgba(0, 0, 0, 0) 670.417px, rgba(0, 0, 0, 0) 680.417px, rgba(100, 100, 225, 0.25) 680.417px, rgba(100, 100, 225, 0.25) 700px, rgba(0, 0, 0, 0) 700px, rgba(0, 0, 0, 0) 710px);
  -moz-background-size: 100% 20px, auto;
  -webkit-background-size: 100% 20px, auto;
  -o-background-size: 100% 20px, auto;
  background-size: 100% 20px, auto;
  background-position: left top;
}
/* line 4, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .feedback, body.bp .error, body.bp .alert, body.bp .notice, body.bp .success, body.bp .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
/* line 5, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error, body.bp .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a, body.bp .alert a {
  color: #8a1f11;
}
/* line 7, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 9, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info a {
  color: #205791;
}
/* line 10, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 11, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 12, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 13, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}
/* line 33, ../../app/stylesheets/screen.scss */
body.bp .alt {
  color: #666666;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}
/* line 34, ../../app/stylesheets/screen.scss */
body.bp .a {
  background: transparent none !important;
  padding: 0 !important;
  margin: 0 !important;
}
/* line 35, ../../app/stylesheets/screen.scss */
body.bp .caps {
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size: 1.2em;
  line-height: 1%;
  font-weight: bold;
  padding: 0 2px;
}
/* line 36, ../../app/stylesheets/screen.scss */
body.bp #notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp #notice a {
  color: #514721;
}
/* line 37, ../../app/stylesheets/screen.scss */
body.bp #error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp #error a {
  color: #8a1f11;
}
/* line 39, ../../app/stylesheets/screen.scss */
body.bp #accordion h4 {
  margin-bottom: 0px;
}

/* line 44, ../../app/stylesheets/screen.scss */
body.two-col #container {
  width: 700px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 48, ../../app/stylesheets/screen.scss */
body.two-col #header, body.two-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 700px;
}
/* line 147, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #header, * html body.two-col #footer {
  overflow-x: hidden;
}
/* line 52, ../../app/stylesheets/screen.scss */
body.two-col #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 167.5px;
}
/* line 147, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #sidebar {
  overflow-x: hidden;
}
/* line 57, ../../app/stylesheets/screen.scss */
body.two-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 522.5px;
}
/* line 147, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #content {
  overflow-x: hidden;
}
/* line 65, ../../app/stylesheets/screen.scss */
body.two-col #content table td {
  width: 10px;
  height: 5px;
}
/* line 70, ../../app/stylesheets/screen.scss */
body.two-col #content p.label {
  display: inline-block;
  font-size: 14px;
  padding: 1px 4px;
  font-weight: bold;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 76, ../../app/stylesheets/screen.scss */
body.two-col #content p.label.UF {
  background: red;
  color: white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}
/* line 81, ../../app/stylesheets/screen.scss */
body.two-col #content p.label.AC {
  background: #52D017;
  color: white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}
/* line 86, ../../app/stylesheets/screen.scss */
body.two-col #content p.label.NA {
  background: #82CAFF;
  color: white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}
