@import "compass/utilities/tables";
@import "compass/css3";
@import "compass/utilities";

// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";
@import "partials/simple_form";
// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";
@import "blueprint/grid";
@import "blueprint/form";
@import "blueprint/interaction";
@import "blueprint/fancy-type";

@mixin title-bar($options_color: red){
    h3{
        display: inline-block;
        margin: 0px;
        a{
            text-decoration: none;
            color: black!important;
        }
    }
    .options{
        float: right;
        text-align: right;
        color: $options_color;
    }
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}

	$sidebar-columns: $blueprint-grid-columns/4;
	$article-columns: 15 * $blueprint-grid-columns/24;
	body.two-col{
		#container {
	    	@include container;
		}
  	    #header, #footer{
	    	@include column($blueprint-grid-columns);
	    }
		#header{
	    	@include header-text;	
		}
		#page {
		    @include column($blueprint-grid-columns);
		}
		#sidebar {	    	
	    	@include column(5); 
		}
	  	article {
	    	// true means it's the last column in the row
	    	@include column(18,true); 
		} 
	}
	form.bp{
        @include blueprint-form;
        @include blueprint-form-sizes($input-width: 300px, 
        $textarea-width: 390px, $textarea-height: 100px);    
    }
	#header{
	    h1{
	        font-family: 'Bangers'!important;
	        font-size: 64px;
	        margin-bottom:0px;
	        margin-top: 15px;
	    }
	    border-bottom:1px solid #bbb;
	}
	#page{
	    border-bottom:1px solid #bbb;
	    padding-top: 10px;
	    padding-bottom:30px;
	    font-size: 13px;
	}
	#page > article{
	    top:20px;
	    padding-top: 10px;
        padding-left: 20px;
	}
	#page > article > h2{
	    border-bottom: 1px solid #bbb;
	}
	#page > article > h3{
	    margin-top: 30px;
	    padding-top: 20px;
	    border-top: 1px solid #bbb;
	}
	#page > article .title-bar{
	    @include title-bar(black);
	    .button {
	        display: inline-block;
	    }
	}
    .ui-autocomplete{
	    list-style: none!important;
	    margin: 0px!important;
	    padding: 0px!important;
	    font-size: 90%!important;
	}
	//form{
	//    margin: 5px;
    //	padding: 9px;
    //	background: #fafafa;
    //    border:1px solid #ddd;
    //   @include border-radius(5px);
	//}
	.ojstats {
	    @include border-radius(5px);
	    background: #fafafa;
	    border: 1px solid #ddd;
	    margin: 5px;
	    padding: 9px;
	    .title-bar {
	        @include title-bar;
	    }
	    a.prob_link{
	        text-decoration: none!important;
	        //color: #41A317!important;
	    }
	}
	#sub-nav {
	    margin-bottom: 5px;
	    height: 25px;
	    border-bottom: solid 2px gray;
	    h1{
	        margin-bottom: 5px!important;
	    }
	    a{
	        float: right;
	        display: inline-block;
	    }
	}
	#book {
		p {
			margin-bottom: 0px!important;
		}
	    .content-block {
	        padding: 5px 5px 15px 5px;
	    
		}
		.content-status {
            height: 6px;
	       	visibility: hidden;
	 		display: inline-block;
			float: right;
			//margin-top: 2px;
			margin-bottom: 1px;
	        @include normal-text;
	        a {
	            padding-right: 5px;
	        }
	    }
	    .hover {
	        //color h v blur inset
	        //@include single-box-shadow(gray, 0px, 1px, 1px, false);
	        border-right: solid 2px #4863A0;
	        border-left: solid 2px #4863A0;
	        .content-status {
				visibility: visible;
			}
	    }	    
	}
	#comment_field {
	    .comment {
	        @include border-radius(5px);
            border: solid 1px silver;
            color: grey;
	        margin: 2px;
	        padding: 2px;
	        width: 300px;
	        a{
	            float: right;
	            //padding-top: 3px;
	            padding-right:5px;
	        }
	    }
	}
    .comment-facebox {
        .refer {
            background: #E3E4FA;
            padding: 6px;
            margin: 2px;
            margin-bottom: 5px;
        }
        h4{
            margin-bottom: 0px!important;
        }
        .comment {
            @include border-radius(5px);
            border: solid 1px silver;
            color: grey;
            padding: 5px;
            margin: 2px;
            p {
                padding: 5px!important;
                margin-bottom: 0px!important;
            }
            textarea{
                width: 100%;
            }
        }
        
        width: 400px!important;
    }
    .validation-errors{
        width: 350px;
        @include error;
    }
    #main_comments{
        .comment {
            @include border-radius(5px);
            border: solid 1px silver;
            color: grey;
            padding: 5px;
            margin: 2px;
            p {
                padding: 5px!important;
                margin-bottom: 0px!important;
            }
        }
        textarea{
            width: 100%;
        }
    }
    .assign_items_table {
        border-bottom: 1px solid #bbb;
        padding-bottom: 5px;
    }
    .assign_stats {
        border: 1px solid #d5e3f0;
        margin-top: 10px;
        padding: 10px;
        background: #f8fcfe;
        @include border-radius(5px);
        .intro_of_label {
            padding: 5px;
            padding-top: 10px;
            border-top: 1px solid #d5e3f0;
        }
    }
	article > .assignment{
	    .title-bar{
	        h3{
	            display: inline-block;
	            margin: 0px;
	            a{
	                text-decoration: none;
	            }
	        }
	        .due-time{
	            float: right;
	            color: red;
	        }
	        padding-bottom: 5px;
	        border-bottom: 1px solid #ddd;
	        margin-bottom: 5px;
	    }
	    table.short_stats{
	        margin-left: 10px;
	        width:auto!important;
	        th{
	            text-align: right;
	            padding-bottom: 0px!important;
	            font-weight: normal;
	        }
	        td{
	            text-align: left;
	        }
	    }
	    margin: 5px;
	    padding: 9px;
	    background: #fafafa;
        border:1px solid #ddd;
        @include border-radius(5px);
	}
	#page_user_info {
	    height: 150px;
	    //width: 300px;
        text-align:left;
        font-size:120%;
        border-bottom:1px solid #bbb;
        margin-bottom:10px;
        @include single-box-shadow(#bbb, 0px, -1px, -1px, false);
        .image_field {
            margin: 5px;
            margin-bottom: 3px;
            display: inline-block;
            float:left;
        }
        .stats_field {
            a {
                font-size:100%;
            }
            margin-top: 40px;
            margin-left:0px;
            display: inline-block;
        }
        .short_stats {
            font-size: 85%;
            border: 1px solid #bbb;
            padding: 1px;
            display: inline-block;
            @include border-radius(2px);
            a {
                text-decoration: none;
                color: black;
                font-weight: 500;
            }
        }
	}
	#user_info {
        text-align:left;
        font-size:120%;
        .image_field {
            margin: 5px;
            margin-bottom: 3px;
            display: inline-block;
        }
        .stats_field {
            a {
                font-size:100%;
            }
            //margin-bottom: 20px;
            margin-top: 0px;
            margin-left:0px;
            display: inline-block;
        }
        border:1px solid #bbb;
        margin-bottom:10px;
        @include border-radius(5px);
        background: #e5ecf9;
        @include single-box-shadow(#c3d9ff, 0px, 1px, 1px, false);
    }
    #description {
        width: 210px;
        //margin-right: auto;
        //margin-left: auto;
        display: inline-block;
        font-size:90%;
        margin-left: 20px;
        border:1px solid black;
        @include border-radius(5px);
        padding: 5px;
    }
    aside{
        margin-top: 0px;
        text-align: right;
        padding-top: 15px;
        padding-right:0px;
        padding-left:10px;
        h2 {
            margin-bottom: 0px!important;
            padding-bottom: 0px!important;
        }
        a{
              font-size: 1.1em;
              text-decoration: none!important;
              @include link-colors(black,black,black,black);
        }
        ul{
            border-top: 1px solid #bbb;
            list-style: none!important;
            padding: 0px!important;
            margin: 0px!important;
            margin-top: 10px!important;
            padding-top: 5px!important;
            #sub_menu{
                font-size: 90%;
                background: #bbb;
                @include border-bottom-radius(5px);
                a {
                    color: white!important;
                }
                color: white!important;
            }
            li {
                padding: 0px!important;
                padding-right:5px!important;
                margin: 0px!important;
            }
            > li.selected{
                border:1px solid #bbb;
                border-bottom:0px;
                font-weight: bold;
                a {
                    color: #7f7f7f!important;
                }
                @include border-top-radius(5px);
            }
        }
    }
	#main-nav{
	    display: inline-block;
	    font-size: 1.3em;
	    a{
	        padding: 5px;
	        text-decoration: none;
	        color: black;
	    }
	    ul{
	        list-style: none;
	        line-height: 2em;
	        padding: 0px;
	        margin: 0px;
	        border: 0px;
	        li{
	            display: inline;
	            float: left;
	            padding-right: 10px;
	        }
	    }
	}
	#login-nav{
	    position:relative;
	    display: inline-block;
	    top: 15px;
	    float: right;
	    ul{
	        list-style: none;
	        margin: 0px;
	        padding: 0px;
	        li{
	            display: inline;
	        }
	    }
	}
	p.label{
		display: inline-block;
		font-size: 14px;
		padding: 1px 4px;
		margin: 0px!important;
		font-weight: bold;
		text-decoration: none;
		@include border-radius(5px);
		&.Read{
		    background: #7E587E;
		    color: white;
		    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
		}
		&.Unread{
		    background: #B7CEEC;
		    color: white;
		    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);				    
		}
		&.UF{
			background: red;
			color: white;
			text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
		}
		&.AC{
			background: #52D017;
			color: white;
			text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
		}
		&.NA{
			background: #82CAFF;
			color: white;
			text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
		}
		&.SE {
		    background: black;
		    color: white;
		    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
		}
	}
	.notice {
	    @include border-radius(5px);
	}
	.alert {
	    @include border-radius(5px);
	}
	body.bp{
		@include blueprint-typography(true);
	    //@include blueprint-utilities;
	    //@include blueprint-debug;
	    @include blueprint-interaction;
	    //@include fancy-type;
	    //@include blueprint-typography-defaults;
	    .alt{@include alt;}
		.caps{@include caps;}
	    #accordion h5{margin-bottom: 0px;}
	}
