@import "compass/utilities/tables";
@import "compass/css3";
@import "compass/utilities";
// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";
@import "partials/simple_form";
// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";
@import "blueprint/grid";
@import "blueprint/form";
@import "blueprint/link-icons";
@import "blueprint/buttons";
@import "blueprint/interaction";
@import "blueprint/fancy-type";
// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint
// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
	body.bp{
		@include blueprint-typography(true);
	    @include blueprint-utilities;
	    @include blueprint-debug;
	    @include blueprint-interaction;
	    //@include fancy-type;
	    .alt{@include alt;}
		.a{@include no-link-icon;}
		.caps{@include caps;}
		#notice{@include notice;}
		#error{@include error;}
	    //@include blueprint-typography-body;
	    #accordion h4{margin-bottom: 0px;}
	}

	// Page layout can be done using mixins applied to your semantic classes and IDs:
	body.two-col{
		#container {
	    	@include container;
		}
  	
		#header, #footer {
	    	@include column($blueprint-grid-columns); 
		}
  	
		#sidebar {
	    	// One third of the grid columns, rounding down. With 24 cols, this is 8.
	    	$sidebar-columns: floor($blueprint-grid-columns / 4);
	    	@include column($sidebar-columns); 
		}
	  	#content {
	    	// Two thirds of the grid columns, rounding up.
	    	// With 24 cols, this is 16.
	    	$content-columns: ceil(3 * $blueprint-grid-columns / 4);
	    	// true means it's the last column in the row
	    	@include column($content-columns, true); 
			
			table{
				td {
					width: 10px;
					height: 5px;
				}
			}
			p.label{
				display: inline-block;
				font-size: 14px;
				padding: 1px 4px;
				font-weight: bold;
				text-decoration: none;
				&.UF{
					background: red;
					color: white;
					text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
				}
				&.AC{
					background: #52D017;
					color: white;
					text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
				}
				&.NA{
					background: #82CAFF;
					color: white;
					text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
				}
				@include border-radius(5px);
				
			}
		} 
	}
	
